body {
	background: url(../images/pokehuevas.png);
	color: white;
}

.objetos {
	height: 60px;
	margin: 10px;
}

.verMochila {
	position: relative;
	height: 100%;
	overflow: hidden;
	width: 90%;
	left: -6px;
}

.mochila {
	position: absolute;
	display: flex;
	align-items: center;
	border: 1px solid;
	border-left: none;
	border-radius: 0px 10px 10px 0;
	height: 100%;
	width: fit-content;
	background: center/100% white;
}

.objeto {
	margin-right: 20px;
	/*white-space: nowrap;*/
	height: 80%;
	padding: 8px;
	color: white;
	border-radius: 10px;
}

.objeto:first-child {
	margin-left: 30px;
}

#abrirMochila {
	z-index: 1;
	height: 100%;
	border-radius: 10px;
	padding: 10px;
}

.img-mochila {
	height: 70%;
}

.cambiarPokemon {
	height: 65px;
	margin: 10px;
}

.ataques {
	margin: 10px;
}

.suplente {
	padding: 0 5px 0 5px;
}

.gamebox {
	margin: 0 auto;
	position: relative;
	border-style: solid;
	background-color: rgb(223, 213, 211);
	width: 800px;
	height: 600px;
	border-radius: 10px 10px 0px 0px;
	overflow: hidden;
}

.container {
	align-items: center;
	display: run-in;
}

.texto {
	color: black;
	margin-left: 5px;
}

.ams {
	margin: 0 auto;
	background-color: gray;
	width: 800px;
	height: 230px;
	border-radius: 0px 0px 10px 10px;
}

.pokeUsuario {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 240px;
	right: 500px;
	bottom: 50px;
}

.pokeCpu {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 240px;
	left: 500px;
	top: 50px;
}

.imagenBatalla {
	align-self: center;
	display: none;
}

.imagenBatalla:first-of-type {
	display: block;
}

.textoCpu {
	color: black;
	margin-right: 5px;
}

.img-primero {
	height: 100px;
}

dialog {
	border: none;
	border-radius: 1rem;
	position: relative;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.9);
}

.reproducir {
	cursor: pointer;
	font-size: 2rem;
	user-select: none;
}

.musica-fondo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 500px;
	position: absolute;
	top: 50px;
	left: 50px;
}