.objetos {
	background-color: white;
	margin: 1rem auto;
	border-radius: 2rem;
	box-shadow: 1px 1px 5px black;
	padding: 4rem;
	max-width: 800px;
}

 body{
 	background-image: url("../images/pokemonCenter3.jpg");
 	background-size:contain;
 }
.pokemon-img {
	position: relative;
	width: 15%;
	height: 50%;
	cursor: pointer;
	margin-left: 1%;
	padding-right: 20px;
	padding-bottom: 20px;
}