.table-historial {
	background: white;
}

.debilitado {
	filter: brightness(0);
}

tbody {
	display: block;
	max-height: 600px;
	height: fit-content;
	overflow-y: scroll;
}

thead, tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed; /* even columns width , fix width of table too*/
}

.table-text {
	width: 17%;
}

.switch {
	margin-left: 15px;
}

.switch input, .switch label {
	user-select: none;
	cursor: pointer;
}