body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -30%;
    font-family: 'Roboto', sans-serif;
    color:#202020;  
    overflow:hidden;
}

.barra{
    display:flex;
    justify-content: space-between;
}

/* Parte de Gengar */
.gengar{
    position:relative;
    width:30%;
    height:100%;
    cursor:pointer;
}

.fondo-gengar{
    position:relative;
    background-color: #C6C6C6 ;
    opacity: 55%;
    width:30%;
    height:100%;
    top:-105%;
    left:1%;
    border-radius: 15%;
    z-index:-1;
}

/* Pärte del usuario */

.parte-usuario{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.fondo-usuario{
   position:relative;
   background-color: #C6C6C6 ;
   opacity: 55%;
   width:22%;
   height:33%;
   left:78%;
   top:-30%;
   z-index:-1;
   border-radius: 10px ;
}

.pokeball{
    height:3%;
    width:3%;
    margin-right:2%;
    margin-top: 1%;
    cursor:pointer;
}

.textUser {
    margin:0px 2.2%;
    margin-top: 1.1%;
    font-size:1rem;

    cursor:pointer;
}


/*  MENUS  */

.menus{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-batalla{
    padding: 0px 8%;
}

.menu-gacha{
    padding: 0px 6.2%;
}

.menu-pokedex {
    padding: 0px 7.5%;
}

.menu-pase{
    padding: 0px 2.3%;
}
/* 926 width */

.glaceon {
    position:relative;
    width:10%;
    bottom:32rem;
    left:25rem;
}

.togepi {
    position:relative;
    width:11%;
    bottom:33.5rem;
    left:46rem;
}

.pokedex {
    position:relative;
    width:11%;
    bottom:34rem;
    left:26rem;
}

.fortnite{
    position:relative;
    width:7%;
    bottom:32.6rem;
    left:48.5rem;
}

.menu {
    position:relative;
    top:-17px;
    margin:2.1% 0%;
    background: rgba(198, 198, 198, 0.55);
    border-radius:15px;
    font-size:32px;
    box-sizing: border-box;
    
}

button{
	background: none;
	color: inherit;
	border: none;
	padding: 7.2% 0px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.admin{
    position:relative;
    bottom:30rem;
    left:91%;
    font-size:1.3rem;
    background: rgba(198, 198, 198,0.55);
    padding:10px;
    border-radius:15px;
}

