body {
	background-image: url("../images/bg.jpg");
	background-repeat: repeat-y;
	background-size: 100%;
	font-family: 'Roboto', sans-serif;
	color: #202020;
	overflow: hidden;
}

a {
	color: #202020;
}

.barra {
	display: flex;
	justify-content: space-between;
}

/* Parte de pokemon */
.pokemon {
	position: relative;
	width: 20%;
	height: 100%;
	cursor: pointer;
	margin-left: 1%;
}

.fondo-pokemon {
	position: relative;
	background-color: #C6C6C6;
	opacity: 55%;
	width: 22%;
	height: 100%;
	top: -105%;
	border-radius: 15px;
	z-index: -1;
}

/* Parte de usuario */
.user{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

.userProfile {
	display: flex;
	position: relative;
	justify-content: flex-end;
	align-items: center;
	min-width: fit-content;
	height: 35px;
	margin-top: 2%;
}

.pokeball {
	position: relative;
	height: 100%;
	cursor: pointer;
	left: 8px;
}

.username {
	position: relative;
	display: flex;
	justify-content: center;
}

.username a {
	text-decoration: none;
}

.textUser{
	height: 100%;
	font-size: 1.2rem;
	margin: 0 10px;
	background: none;
}

.menu-usuario {
	position: absolute;
	display: none;
	flex-direction: column;
	top: 29px;
}

.menu-usuario a {
	font-size: 1.2rem;
	text-align: center;
	white-space: nowrap; 
	padding: 5px 10px;
	border-radius: 0;
	min-height: 15%;
	background-color: rgba(198, 198, 198, 0.55);
	z-index: 1;
}

.menu-usuario a:last-child {
	border-radius: 0 0 15px 15px;
}

.fondo-usuario {
	position: absolute;
	background-color: rgba(198, 198, 198, 0.55);
	min-height: 100%;
	min-width: 92%;
	right: 0;
	border-radius: 10px;
	z-index: -1;
}

/*  MENUS  */
.menus {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 80vh;
	width: 100vw;
}

.pok {
	width: 30%;
	height: 22%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 3vmin;
}

.glaceon {
	max-height: 70%;
	position: absolute;
	right: 72%;
}

.togepi {
	max-height: 100%;
	position: absolute;
	left: 65%;
}

.pokedex {
	max-height: 70%;
	position: absolute;
	right: 68%;
}

.fortnite {
	max-height: 70%;
	position: absolute;
	left: 71%;
}

.pok img {
	z-index: 1;
}

.disabled {
	opacity: 50%;
}

.disabled button {
	cursor: not-allowed;
}

button {
	text-decoration:none;
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	background: rgba(198, 198, 198, 0.55);
	font-size: 1.8rem;
	border-radius: 15px;
}

.pok button{
	padding: 1.5vmin;
	width: 50%;
	height: 40%;
	font-size: 1.5rem;
	position: relative;
}

.admin {
	position: relative;
	bottom: 35rem;
	left: 91%;
	font-size: 1.3rem;
	background: rgba(198, 198, 198, 0.55);
	padding: 10px;
	border-radius: 15px;
}
