body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -30%;
    font-family: 'Roboto', sans-serif;
    color:#202020;  
    overflow:hidden;
}

a{
	color: #202020;
}

.barra{
    display:flex;
    justify-content: space-between;
}

/* Parte de pokemon */
.pokemon{
    position:relative;
    width:20%;
    height:100%;
    cursor:pointer;
}

.fondo-pokemon{
    position:relative;
    background-color: #C6C6C6 ;
    opacity: 55%;
    width:22%;
    height:100%;
    top:-105%;
    left:-0.5%;
    border-radius: 15px;
    z-index:-1;
}

/* Pärte del usuario */

.parte-usuario{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.fondo-usuario{
   position:relative;
   background-color: #C6C6C6 ;
   opacity: 55%;
   width:35%;
   height:50%;
   left:72%;
   top:-48%;
   z-index:-1;
   border-radius: 10px ;
}

.pokeball{
    height:3%;
    width:4%;
    margin-right:2%;
    margin-top: 1%;
    cursor:pointer;
}

.textUser {
    margin:0px 2.2%;
    margin-top: 1.1%;
    font-size:1rem;
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


/*  MENUS  */

.menus{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top:2.2rem;
}


/* 926 width */

.glaceon {
    position:relative;
    width:7%;
    bottom:33em;
    left:42rem;
}

.togepi {
    position:relative;
    width:8%;
    bottom:35rem;
    left:66rem;
}

.pokedex {
    position:relative;
    width:8%;
    bottom:35rem;
    left:42rem;
}

.fortnite{
    position:relative;
    width:6%;
    bottom:35rem;
    left:65rem;
}

button{
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    background: rgba(198, 198, 198,0.55);
    font-size:1.8rem;
    margin:1.5rem 0px;
    border-radius:15px;
}

.batalla-texto {
    padding: 1.5rem 7rem;
}

.gacha {
    padding: 1.5rem 6rem;
}

.pokedex-texto {
    padding: 1.5rem 7rem;
}

.pase {
    padding: 1.5rem 3.5rem;
}

.admin{
    position:relative;
    bottom:35rem;
    left:91%;
    font-size:1.3rem;
    background: rgba(198, 198, 198,0.55);
    padding:10px;
    border-radius:15px;
}

