body {
	padding: 40px;
	background-image: url("../images/bijachu.jpg");
	background-position: 50%;
}

.cargando {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contenido {
	border: solid 1px grey;
	max-height: 690px;
	background-color: white;
}

.btn-perfil {
	--bkg: white;
	background-color: white;
	padding: 5px 10px;
	position: relative;
	border: solid 1px;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	bottom: -1px;
	transition: ease-in-out 0.3s;
}

.btn-datos {
	--color: blue;
	color: blue;
	border-color: var(--color);
}

.btn-historial {
	--color: green;
	color: green;
	border-color: var(--color);
}

.btn-lista{
	--color: red;
	color: red;
	border-color: var(--color);
}

.activo {
	--bkg: var(--color);
	background-color: var(--color);
	color: white;
	z-index: 1;
}

.btn-perfil:hover {
	--bkg: var(--color);
	color: white;
	background-color: var(--color);
}

.btn-perfil:before,
.btn-perfil:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 20px;
    bottom: 0;
    transition: ease-in-out 0.3s;
}

.btn-perfil:before {
    left: -20px;
    border-radius: 0 0 10px 0;
    border-right: solid 1px;
    border-color: inherit;
    box-shadow: 10px 0 0 0 var(--bkg);
}

.btn-perfil:after {
    right: -20px;
    border-radius: 0 0 0 10px;
    border-left: solid 1px;
    border-color: inherit;
    box-shadow: -10px 0 0 0 var(--bkg);
    z-index: 1;
}

.btn-perfil:first-child:before {
	all: unset;
}

.pokemon-img {
	position: relative;
	width: 15%;
	height: 50%;
	cursor: pointer;
	margin-left: 1%;
	padding-right: 20px;
	padding-bottom: 20px;
}