@charset "ISO-8859-1";

.form {
	background-color: white;
	margin: 4rem auto;
	border-radius: 2rem;
	box-shadow: 1px 1px 5px black;
	padding: 4rem;
	max-width: 900px;
	margin-right:1rem;
	margin-left:1rem;
}
.formP {
	width:100%;
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	flex-direction:row;
}


.fondo {
	background-image: url("../images/Ataques.png");
	background-size: cover;
}

.pokemon {
	background-image: url("../images/PokeAtaque.jpg");
	background-size: cover;
}

.validation {
	color: red;
}

.lista-ataques {
	text-align: center;
}

.ataques-label {
	width: 9rem;
	text-align: left;
}

.tableForm {
	background-color: white;
	margin: 2rem auto;
	box-shadow: 1px 1px 5px black;
	padding: 4rem;
	max-width: 600px;
}

.boton-nuevo {
	margin-left: 75%;
}
